# Maven build output
target/

# IDE files
.idea/
*.iml

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log